.metadata
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
*.setup
*.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
*.index
*.version
*.prefs
*.xmi
*.resources
*.ini
*.log
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.lock
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.ui.intro/introstate
.project
.DS_Store
